
#mainBox {
  padding: 4vw;
  /* animation: heightGrow 3s forwards; */
}
/* @keyframes heightGrow {
  0% {
    height: 0;
    overflow: hidden;
  }
  99% {
    height: 100%;
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
} */
h1 {
  text-align: center;
  margin-bottom: 1vw;
  font-size: 6vw;
}
h5 {
  margin: 3vw 0 1vw;
}
h5:before {
  content: '';
  width: 1px;
  margin-right: 1vw;
  border-left: 1px solid blue;
}
.p-info,
.ul-list {
  margin: 0 1vw;
}
.ul-list li {
  margin: 2vw;
}
.ul-list.presentation {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 2vw;
}
.ul-list.experience li {
  padding-top: 1.5vw;
}
.ul-list.experience li:first-child {
  padding-top: 0;
}